.event-img{
    width: 2px !important;
    height: 2px !important;
}

.rating-font{
    display: inline-block;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    margin-left: 5px;
    color: #fff !important;

}



.job-desc{
    display:block;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 12px;
    position: relative;
    bottom: 15px;
    width:max-content;
    color: rgb(221, 0, 0) !important;
}

.price-font{
    display:block;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    position: relative;
    bottom: 30px;
    color: #fff;
}

.add-on{
    display: inline;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    font-size: 12px;

}


.card-style{
    width: 12rem;
    border: 1px solid transparent;
    margin-bottom: 4rem;
    padding-left: 0px;
    left: 0px;
}




.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}
.wra{
  display: flex;
  flex-wrap: nowrap;
  cursor: grab;
  overflow: auto;
}

@media screen and (max-width:569px)  {

    .banner-ele{
        display: flex !important;
        justify-content: center !important;
    }
    .description-txt{
       text-align: center;
       font-size:medium !important;
       font-family: Arial, Helvetica, sans-serif;

    }
}


.description-txt{
    font-family: Arial, Helvetica, sans-serif;

 }


.price-tag{
    font-size:30px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}