<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Login.css' %}">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>CreateAccount</title>
</head>

<body>



    <div class="login-container d-flex align-items-center justify-content-center ">
        <form class="login-form text-center" onsubmit="return verify_password()"
            action="{% url 'LoginAuth:LoginUsers' %}" method="post">
            {% csrf_token %}
            <h1 class="mb-5 font-weight-light text-uppercase">Login</h1>

            <div class="form-group">
                <input type="text" name="username" class="form-control rounded-pill form-control-lg" id="username"
                    placeholder="Enter username">
            </div>
            <div class="form-group">
                <input type="password" name="pswrd" class="form-control rounded-pill form-control-lg"
                    id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-row my-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="Event Organizer" id="EO" name="res">
                    <label class="form-check-label" for="EO">
                        Event Organizer
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="Event Attandee" id="EA" name="res">
                    <label class="form-check-label" for="EA">
                        Event Attandee
                    </label>
                </div>
            </div>
            <div class="forgot-link d-flex align-items-center justify-content-between">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="remember">
                    <label class="form-check-label" for="remember">Remember password </label>
                </div>
                <a href="#" class="forgot-pass">Forgot Password?</a>
            </div>
            <div class="form-row">
                {% if error_msg %}
                <small id="loginerror" class="" style=" color: red ; font-size: medium; ">Username and Password
                    dosen't match</small>
                </small>
                {% endif %}
                {% if error_msg2 %}
                <small id="loginerror" class="" style=" color: red ; font-size: medium; ">You don't have an Organizer
                    Account , please create one</small>
                </small>
                {% endif %}
                {% if error_msg3 %}
                <small id="loginerror" class="" style=" color: red ; font-size: medium; ">You don't have an Attandee
                    Account , please create one</small>
                </small>
                {% endif %}
                {% if error_msg4 %}
                <small id="loginerror" class="" style=" color: red ; font-size: medium; ">please choose account
                    type</small>
                </small>
                {% endif %}

            </div>
            <button type="submit" class="btn btn-block rounded-pill btn-lg btn-color">Login</button>
            <p class="mt-3 font-weight-normal">Don't have an account <a href="/signup"><strong>Register Now</strong></a>
            </p>
            <img src="{% static 'images/undraw_partying_re_at7f.svg' %}" class="img-placer" height="200px">
    </div>









    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>