<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href='https://css.gg/profile.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'marketplace.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Vesperi</title>
</head>

<body class="bg-move">
    <div class="div-props">
        <nav class="navbar navbar-expand-md navbar-light bg-move  shadow ">
            <a class="navbar-brand " href="#">
                <h1 class="title-font-text">Vesperi</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon  "></span>
            </button>

            <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item  mx-4">
                        <a class="nav-link nav-item-sp font-text" href="/guest/homepage">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item font-text  mx-4">
                        <a class="nav-link nav-item-sp " href="/guest/Marketplace">Marketplace</a>
                    </li>
                    <li class="nav-item font-text mx-4 ">
                        <a class="nav-link nav-item-sp " href="/guest/profile">Profile</a>
                    </li>
                    <li class="nav-item font-text  active mx-4 ">
                        <a class="nav-link nav-item-sp " href="/guest/Myinventory">Inventory</a>
                    </li>
                    <li class="nav-item font-text mx-4 ">
                        <a class="nav-link nav-item-sp " href="{% url 'Organizers:logoutUser' %} ">Logout</a>
                    </li>
        
        </nav>
    </div>



    <div class="body-container">


        {% for nft in collection %}
        <div class="row no-gutters shadow my-3">
            <div class="col-sm-2 banner-ele">
                <img class="card-img event-img" src="{{nft.image}}" alt="Suresh Dasari Card">
            </div>
            <div class="col-sm-7 ">
                <div class="card-body  ">
                    <div class="banner-ele">
                        <h5 class="card-title card-title-font ">{{nft.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>





</html>